{% extends 'base.html' %}

{% block content %}
    <!-- Header-->
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Luxury shop</h1>
                <p class="lead fw-normal text-white-50 mb-0">Welcome to our online shop.</p>
            </div>
        </div>
    </header>
    <!-- Section-->
    <div class="container mt-5">
        <div class="text-left">
            <h3>Filter by</h3>
        </div>
        <div class="row">
            <div class="col-1">
                <a class="btn btn-outline-dark mt-auto" href="?expensive=true">> Expensive </a>
            </div>

            <div class="col-1">
                <a class="btn btn-outline-dark mt-auto" href="?cheap=true">> Cheap </a>
            </div>
        </div>
    </div>
    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                {% for product in page_obj %}
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Sale badge-->
                            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">
                                Sale
                            </div>
                            <!-- Product image-->
                            <img class="card-img-top"  src="{{ product.image.url }}" alt="..."/>
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">{{ product.name }}</h5>
                                    <!-- Product rating-->
                                    <div class="d-flex justify-content-center small text-warning mb-2">
                                        {% for i in "12345"|slice:":product.rating" %}
                                            <div class="bi-star-fill"></div>
                                        {% endfor %}
                                    </div>
                                    <!-- Product price-->
                                    {% if product.discount %}
                                        <span class="text-muted text-decoration-line-through">${{ product.price }}</span>
                                        ${{ product.discounted_price }}
                                    {% else %}
                                        ${{ product.price }}
                                    {% endif %}
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto"
                                                            href="{% url 'product_detail' product.slug %}">View
                                    product</a></div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <!-- Pagination controls -->
            <div class="d-flex justify-content-center mt-4">
                <nav>
                    <ul class="pagination">
                        {% if page_obj.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page=1" aria-label="First">
                                    <span aria-hidden="true">&laquo;&laquo;</span>
                                </a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                        {% endif %}

                        {% for num in page_obj.paginator.page_range %}
                            {% if page_obj.number == num %}
                                <li class="page-item active" aria-current="page">
                                    <span class="page-link">{{ num }}</span>
                                </li>
                            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                                <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                            {% endif %}
                        {% endfor %}

                        {% if page_obj.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Last">
                                    <span aria-hidden="true">&raquo;&raquo;</span>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
    </section>
{% endblock %}
